@import './layout.scss';
.reactor-container{
    background-color: $primaryColor;
    margin-left: 4px;
    margin-top: 4px;
}

.reactor-container .parak-container{
    position: relative;
    top:34%
}

.reactor-bottom{
    position: relative;
    bottom: 12%;
    margin-right: 40px;
}