$mainColor: #000000;
$primaryColor : #151515;


.layout-container{
    height: 100vh;
    background-color: $primaryColor;
    margin-left: 4px;
    margin-top: 4px;
}
.MuiAlertTitle-root{
    border-radius: 245px;
}