@import './layout.scss';
.layout-container{
    height: 100vh;
    background-color: $primaryColor;
    margin-left: 4px;
    margin-top: 4px;
}
.reactor-container-main{
   transform: translate(0 , 35%);
}
.parak-container{
    transform: translate(0 , 60%);

}