@import './layout.scss';
.reactor-container{
    background-color: $primaryColor;
    margin-left: 4px;
    margin-top: 4px;
}

.reactor-container .parak-container{
    position: relative;
    top:30%
}

.rcb{
    position: relative;
    bottom: 15%;
    margin-right: 40px;
}