 
.reactor-Col > .reactor-image >img {
    width: 70%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.reactor-Col-main > .reactor-image > img{
    width: 55%;
    padding-top: 15px;
}

.reactor-Col-bottom > .reactor-image > img{
    width: 70%;
    cursor: pointer;

}

.parak{
    width: 70%;
}
.parak img{
    width: 80%;
    height: 80%
}

.reactor-gauges{
   margin-top: 8px;
}

.reactor-gauges > .gauge-1{
    background-color:  #ff236581;
    border-radius: 8px;
    border:2px solid  #FF2366;
    text-align: center;
}
.reactor-gauges > .gauge-2{
    background-color:  #23ffbd7e;
    border: 2px solid #23ffbd;
    border-radius: 8px;
    text-align: center;
}    



.reactor-Col-Bottom > .reactor-image-Bottom > img {
        width: 55%;
        height:100%;
        margin: 0 auto;
        cursor: pointer;
    }

    
    /// reactor power animation color
    @keyframes turnOnReactor {
        0%{filter: drop-shadow(0px 5px 14px #23ffbd)}
        100%{filter: none}
    }
    .reactor-on{
        animation: turnOnReactor 4s forwards;

}
.reactor-off{
    filter: drop-shadow(0px 5px 14px #FF2366);
    
}
//// customize reactor
.reactor-Col > .reactor-2 {
    padding: 5px;
    // margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    height: 55%;

 }
