@import './layout.scss';

.logo{
    margin-bottom: 15px;
    width: 10px;
    height: 20px;
}
.sidebar{
    background-color: $primaryColor;
    padding: 4px;
    height: 100vh;
}
.menuItems{
    padding: 1px;
    border-radius:25px;
}
.isActiveMenu{
    padding: 1px;;
    border-radius:25px;
    background-color: #969897;
    transition: 1s ease-out;
}
.drawer{
    border: 0.5px solid $mainColor;
}