
.logo{
    margin-bottom: 112px;
    width: 10px;
}
.sidebar{
    background-color: #121212;
    padding: 4px;
    height: 100vh;
}
.menuItems{
    padding: 1px;
    border-radius:25px;
}
.isActiveMenu{
    padding: 1px;;
    border-radius:25px;
    background-color: #969897;
    transition: 1s ease-out;
}
.drawer{
    border: 0.5px solid black;
}